@charset "UTF-8";

* {
    padding: 0;
}
body {
    background-color: #1892c5c1;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color: white;
    text-align: center;
    font-size: 1.3em;
} 
section {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 7px 10px #0000002c;
    font-size: 1.3em;
}
section h2 {
    margin: 10px;
    padding: 0;
}
section p {
    text-align: center;
}

#tituloh2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    
}

#fent {
    font-size: 0.9em;
    border-color: #00000028;
    border-radius: 4px;
    width: 230px;
}

#faltura {
    font-size: 0.9em;
    border-color: #00000028;
    border-radius: 4px;
    width: 230px;
}

#bt {
    
    font-size: 0.8em;
    color: white;
    background-color: #23a5cdd8;
    border-color: transparent;
    border-radius: 4px;
}

#bt:active {
    background-color: #1973af;
    transition-duration: 0.5s;
}

#resposta {
    border:solid 1.5px #00000052;
    border-radius: 5px;
    padding: 13px;
    max-width: 580px;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
}

#flista {
    width: 250px;
}

footer {
    color: white;
    text-align: center;
    font-size: 1.8em;
}